/*Here ONLY styles for base elements, such as body, html, a, div, span etc.*/

@import "variables.scss";
@import "mixins.scss";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  display: table;
}

a {
  &:focus {
    outline: 0;
  }
}