/*Here ONLY styles for helpers, such as .inline-block, .hidden etc.*/

@import "variables.scss";
@import "mixins.scss";


.flex-1 {
  flex: 1;
}

.inline-block {
  display: inline-block;
}

.resize-vertical {
  resize: vertical;
}